/**********************/
/* Footer starts here */
/**********************/
.footer-grid-1-1 {
	border: 3px solid white;
	grid-column: 1 / -1;
}

.footer-grid-1-2 {
	border: 3px solid white;
	grid-column: 1 / -1;
}
