/**********************/
/* Footer starts here */
/**********************/
.footer-grid-1-1 {
	border: 3px solid white;
	grid-column: 1 / -1;
}

.footer-grid-1-2 {
	border: 3px solid white;
	grid-column: 1 / -1;
}

/* Mobile -- Becomes footer */

/* .header-grid-1-3 {
	border: 3px dotted rgb(148, 13, 13);
	grid-row: 6 / 7;
	grid-column: 1 / -1;
	background-color: var(--bg-foreground);
}

.header-bottom-nav {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.header-bottom-list .header-bottom-nav-item span {
	display: none;
}

.header-bottom-list {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
}

.header-bottom-nav-item svg {
	width: 3rem;
	height: auto;
	filter: invert(1);
}

.header-bottom-nav-item:nth-last-child(1) {
	display: none;
} */
