/**********************/
/*	General settings  */
/**********************/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: "Inter", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	--scale: calc(100vw / 1920 * (1920 / 1920));
	--bg-primary: #242526;
	--bg-secondary: #f5f5f5;
	--bg-foreground: #303233;
	--text-primary: #e1e1e1;
	--text-secondary: #9c0000;
	--focushover: #39f;
	--green: #42a512;
	--white: #fff;
	font-size: 62.5%;
	/* background: url("../img/Circuit\ Board.svg") no-repeat center center fixed; */
	background-color: var(--bg-primary);
	color: var(--text-primary);
}

a:hover,
a:focus {
	color: var(--focushover);
	text-decoration: underline;
}

a:visited {
	color: inherit;
}

a {
	text-decoration: none;
}

/* Set content to 0 margin on mobile devices */
@media (min-width: 1024px) {
	.content-width {
		margin-left: clamp(0px, 10vw, 192px);
		margin-right: clamp(0px, 10vw, 192px);
	}
}

/*******************************/
/*	Sitewide grid starts here  */
/*******************************/
.grid {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(6, 1fr);
	width: 100%;
	height: 100svh;
	gap: 0;
}

header,
main,
footer,
section {
	display: contents; /* Ignore wrappers */
}
